/*===================================*/
/*=====----- HOMEPAGE HERO -----=====*/
/*===================================*/

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: calc(100vh - 100px);
	overflow: hidden;
}

.hero::before,
.hero::after {
	position: absolute;
	z-index: 100;
	display: block;
	background: white;
	content: '';
}

.hero--short {
	justify-content: center;
	min-height: 56.25vw;
}

.hero--content {
	padding-top: 8rem;
}

.hero__logo {
	position: absolute;
	inset: 1rem auto auto 2rem;
	z-index: 4;
	transform: translate(calc(50vw - 50% - 2rem), calc(50vh - 4rem - 50%)) scale(2);
	display: none;
	width: var(--logo-width);
	pointer-events: none;
}

.hero__title {
	position: relative;
	z-index: 3;
	padding: 0 1rem;
	margin: 0;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
}

.hero__title-1 {
	position: relative;
	z-index: 2;
	display: block;
	margin-bottom: -0.5rem;
}

.hero__title-2 {
	position: relative;
	z-index: 1;
	padding: 0.75rem 0.5rem 0.25rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	background: linear-gradient(45deg, var(--violet), var(--red));
	font-size: var(--text-base);
	font-weight: var(--font-weight-normal);
	line-height: 0.8;
}

/*----- background -----*/

.hero__bg,
.hero__bg-img {
	position: absolute;
	inset: 0;
}

.hero__bg {
	z-index: 2;
	pointer-events: none;
}

.hero__bg::before,
.hero__bg::after {
	position: absolute;
	z-index: 2;
	display: block;
	height: 160px;
	content: '';
	pointer-events: none;
}

.hero__bg::before {
	inset: 0 0 auto 0;
	background: linear-gradient(to bottom, rgba(19, 21, 22, 0.5), rgba(19, 21, 22, 0));
}

.hero__bg::after {
	inset: auto 0 0 0;
	background: linear-gradient(to bottom, rgba(19, 21, 22, 0), var(--dark-color));
}

.hero__img-frame {
	position: absolute;
	inset: 40px 1rem 80px;
	z-index: 3;
}

.hero__img-frame::before {
	position: absolute;
	inset: 0.5rem -0.5rem -0.5rem 0.5rem;
	z-index: 2;
	display: block;
	border: var(--light-border);
	border-radius: var(--border-radius);
	content: '';
	pointer-events: none;
}

.hero__bg-img {
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 40%;
}

.hero__bg-img--blur {
	inset: -60px;
	width: calc(100% + 120px);
	height: calc(100% + 120px);
	max-width: none;
	object-fit: cover;
	filter: blur(40px);
	opacity: 0.75;
}

.hero__img-frame .hero__bg-img {
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
}

/*----- scroll icon -----*/

.scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 3;
	transform: translateX(-50%);
	display: block;
	width: 20px;
	background: none;
	aspect-ratio: 2 / 3;
	border-radius: 4px;
	border: var(--border-width) solid var(--light-color);
}

.scroll__track {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	height: 8px;
}

.scroll__ball {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: var(--light-color);
	transform: none;
	animation: slide-up 1s ease infinite;
}

/*================================*/
/*=====----- ANIMATIONS -----=====*/
/*================================*/

@keyframes slide-up {
	0% {
		opacity: 1;
		transform: translateY(8px);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(8px);
	}
}

@keyframes moveLogo {
	0% {
		transform: translate(calc(50vw - 50% - 2rem), calc(50vh - 4rem - 50%)) scale(2);
	}
	50% {
		transform: translate(calc(50vw - 50% - 2rem), 0) scale(1);
	}
	100% {
		transform: none;
	}
}

@keyframes expandHeroImg {
	0% {
		opacity: 0;
		transform: translate(calc(-50% + 0.5rem), 0.5rem) scaleX(0) scaleY(1.02);
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
		transform: translate(calc(-50% + 0.5rem), 0.5rem) scaleX(1.02) scaleY(1.02);
	}
	75% {
		opacity: 1;
		transform: translate(-50%, 0) scaleX(1) scaleY(1);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0) scaleX(1) scaleY(1);
	}
}

@keyframes revealHeroImage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes revealHeroImageFrame {
	from {
		opacity: 0;
		transform: scale(1.04);
	}
	to {
		opacity: 1;
		transform: translate(1rem, 1rem) scale(1);
	}
}

@keyframes revealHeroTitle1 {
	from {
		opacity: 0;
		transform: translateX(-2rem);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes revealHeroTitle2 {
	from {
		opacity: 0;
		transform: translateX(2rem);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/*===================================*/
/*=====----- MEDIA QUERIES -----=====*/
/*===================================*/

@media (min-width: 40em) {
	.hero {
		min-height: calc(100vh - 3rem);
	}

	.hero--short {
		min-height: 56.25vw;
	}

	.hero__title {
		font-size: 3.5rem;
		line-height: 0.8;
	}

	.hero__title-1 {
		margin-bottom: -0.9rem;
	}

	.hero__title-2 {
		font-size: 1.5rem;
	}
}

@media (min-width: 64em) {
	.hero__logo {
		display: block;
	}

	.hero__img-frame {
		inset: calc(var(--nav-button-width) + 2rem) auto 120px 50%;
		transform: translateX(-50%);
		transform-origin: right center;
		width: calc(100% - 4rem);
		max-width: 1920px;
		background: linear-gradient(to top, #724a51, #3c3e53);
		border-radius: var(--border-radius);
	}

	.hero__title-1 {
		margin-bottom: -0.5rem;
	}

	.hero__title-2 {
		display: block;
		padding: 1rem 0 0.75rem 0.75rem;
	}

	/*----- animated hero -----*/

	.hero__title-1,
	.hero__title-2,
	.hero__bg-img--blur,
	.hero__img-frame,
	.hero__img-frame::before,
	.hero__img-frame .hero__bg-img,
	.scroll {
		opacity: 0;
	}

	.hero__bg-img--blur,
	.scroll {
		transition: opacity var(--transition);
	}

	.scroll {
		transition-delay: calc(var(--transition-dur) * 7);
		pointer-events: none;
	}

	.hero__img-frame::before {
		inset: 0;
	}

	/*-- animate --*/

	.hero--animate:not(.hero--static) .hero__logo {
		animation: moveLogo calc(var(--transition-dur) * 4) ease 0s 1 normal forwards;
	}

	.hero--animate:not(.hero--static) .hero__bg-img--blur {
		opacity: 0.75;
	}

	.hero--animate:not(.hero--static) .hero__img-frame {
		animation: expandHeroImg calc(var(--transition-dur) * 4) ease
			calc(var(--transition-dur) * 2) 1 normal forwards;
	}

	.hero--animate:not(.hero--static) .hero__img-frame .hero__bg-img {
		animation: revealHeroImage calc(var(--transition-dur) * 2) ease
			calc(var(--transition-dur) * 4) 1 normal forwards;
	}

	.hero--animate:not(.hero--static) .hero__img-frame::before {
		animation: revealHeroImageFrame var(--transition-dur) ease calc(var(--transition-dur) * 4) 1
			normal forwards;
	}

	.hero--animate:not(.hero--static) .hero__title-1 {
		animation: revealHeroTitle1 calc(var(--transition-dur) * 2) ease
			calc(var(--transition-dur) * 5) 1 normal forwards;
	}

	.hero--animate:not(.hero--static) .hero__title-2 {
		animation: revealHeroTitle2 calc(var(--transition-dur) * 2) ease
			calc(var(--transition-dur) * 5) 1 normal forwards;
	}

	.hero--animate:not(.hero--static) .scroll {
		opacity: 1;
		pointer-events: all;
	}

	/*----- static hero -----*/

	.hero--static .hero__logo {
		display: none;
	}

	.hero--static
		:is(.hero__title-1, .hero__title-2, .hero__img-frame, .hero__img-frame
			.hero__bg-img, .scroll),
	.hero--static .hero__img-frame::before {
		opacity: 1;
	}

	.hero--static .hero__bg-img--blur {
		opacity: 0.75;
	}

	.hero--static :is(.hero__bg-img--blur, .scroll) {
		transition: none;
	}

	.hero--static .scroll {
		transition-delay: 0s;
		pointer-events: all;
	}

	.hero--static .hero__img-frame::before {
		inset: 1rem -1rem -1rem 1rem;
	}
}

@media (pointer: fine) {
	.scroll {
		border-radius: 9999px;
	}

	.scroll__track {
		top: 4px;
		bottom: auto;
	}

	.scroll__ball {
		animation: slide-down 1s ease infinite;
	}
}
