.ie-warning {
	position: fixed;
	inset: 0;
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--body-bg);
}

.ie-warning .content-box {
	position: relative;
	z-index: 1;
	padding: calc(var(--large-border-width) + 2rem) 1rem 2rem;
	border-radius: var(--border-radius);
	border: var(--light-border);
	background: rgba(255, 255, 255, 0.05);
}

.ie-warning .content-box::before {
	position: absolute;
	inset: calc(var(--border-width) * -1) calc(var(--border-width) * -1) auto
		calc(var(--border-width) * -1);
	display: block;
	height: var(--large-border-width);
	background: var(--accent-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	content: '';
	pointer-events: none;
}

.ie-warning .button-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

.ie-warning .button {
	display: block;
	padding: 1.25em 2em;
	min-width: 120px;
	background: var(--white);
	box-shadow: var(--soft-shadow);
	border: var(--border-width) solid var(--green);
	border-radius: 4px;
	font-family: var(--font-family);
	font-weight: var(--font-weight-extrabold);
	font-size: 0.675em;
	line-height: 1.35;
	letter-spacing: 0.3em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: var(--dark-color);
	transition: background-color var(--transition), color var(--transition);
}

.ie-warning .button__text {
	display: block;
	margin-top: 1em;
	font-weight: var(--font-weight-extrabold);
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 1.35;
}

.ie-warning .button__image {
	width: auto;
	max-width: 4em;
	max-height: 4em;
	margin: 0 auto;
}

@media (hover: hover) {
	.ie-warning .button:hover {
		background-color: var(--green);
	}
}

@media (min-width: 64em) {
	.ie-warning .content-box {
		padding: calc(var(--large-border-width) + 2rem) 2rem 2rem;
	}
}
