html,
body {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	background: var(--body-bg);
	overflow-x: hidden;
}

body.gallery-page {
	background: linear-gradient(to bottom, var(--gray-darker), var(--black-cool));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
svg,
iframe,
video {
	display: block;
}

img,
svg {
	max-width: 100%;
}

[onclick] {
	cursor: pointer;
}

.section {
	position: relative;
	padding: var(--section-padding);
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.wrapper--narrow {
	max-width: 50ch;
}

.wrapper--content {
	max-width: 64ch;
}

.wrapper--section {
	max-width: 1200px;
}

.wrapper--wide {
	max-width: 1600px;
}

hr {
	margin: 2rem auto;
	width: 75%;
	max-width: 700px;
	height: var(--border-width);
	border: none;
	background: var(--gray-cool);
}

.flex-line {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.flex-line::before,
.flex-line::after {
	display: block;
	flex: 1 0 auto;
	height: var(--border-width);
	background: var(--light-color);
	content: '';
}

.logo-icon {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 3;
	transform: translate(-50%, 50%);
	display: block;
	width: 60px;
	height: 60px;
	pointer-events: none;
}

@media (min-width: 64em) {
	.flex-line {
		gap: 1rem;
	}
}
