/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.bio__img-cont {
	position: relative;
	z-index: 2;
	max-width: 300px;
	aspect-ratio: 1;
	margin: 0 auto;
}

.bio-home__img-cont::before,
.bio-home__img-cont::after,
.bio__img-cont::before,
.bio__img-cont::after {
	position: absolute;
	display: block;
	content: '';
	pointer-events: none;
}

.bio-home__img-cont::before,
.bio__img-cont::before {
	inset: -0.5rem 0.5rem 0.5rem -0.5rem;
	z-index: 3;
	border: var(--light-border);
	border-radius: var(--border-radius);
}

.bio-home__img-cont::after,
.bio__img-cont::after {
	inset: 0;
	z-index: 2;
	background: linear-gradient(135deg, rgba(232, 52, 119, 0), rgba(232, 52, 119, 0.2));
	border-radius: var(--border-radius);
}

.bio__img {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
}

/*=========================*/
/*=====----- BIO -----=====*/
/*=========================*/

.bio {
	position: relative;
	background: var(--light-color);
}

.bio__hero {
	position: relative;
	z-index: 1;
	height: 15vw;
	min-height: 300px;
}

.bio__hero::before {
	position: absolute;
	inset: 0;
	z-index: 2;
	display: block;
	background: linear-gradient(45deg, rgba(232, 52, 119, 0.35) 0, rgba(244, 206, 86, 0.25));
	backdrop-filter: blur(40px);
	content: '';
	pointer-events: none;
}

.bio__bg {
	position: absolute;
	inset: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.bio__content {
	position: relative;
	z-index: 2;
	padding-top: 0;
	color: var(--dark-color);
}

.bio .bio__img-cont {
	width: calc(100% - 4rem);
	max-width: 400px;
	margin: -160px auto 2rem;
}

.bio .bio__img-cont::before {
	border-color: rgba(255, 255, 255, 0.5);
}

.bio__title {
	color: var(--red);
}

@media (min-width: 40em) {
	.bio .bio__img-cont {
		margin-top: -140px;
	}
}

/*============================*/
/*=====----- RESUME -----=====*/
/*============================*/

.resume {
	background: var(--gray-cool-light);
	color: var(--dark-color);
}

.resume__title-row {
	margin-bottom: 2rem;
}

.resume__button-cont {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.resume__item-title {
	color: var(--red);
}

.resume__sub-items {
	display: grid;
	gap: 2rem;
}

.resume__sub-items--bordered {
	gap: 1rem;
}

.resume__sub-items--bordered .resume__sub-item {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: var(--gray-border);
}

.resume__sub-item--bordered:first-child {
	padding-top: 0;
}

.resume__sub-items--bordered .resume__sub-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.resume__sub-item-title {
	line-height: 1.5;
}

.resume__sub-item-year {
	display: block;
	margin-bottom: 0.35rem;
	font-size: 0.9rem;
	font-weight: var(--font-weight-normal);
}

.resume__sub-item-role {
	padding: 0.25rem 0.5rem;
	background: var(--red);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	color: var(--light-color);
}

.resume__sub-item-company {
	display: block;
	margin-top: 0.35rem;
}

.resume__sub-item-content {
	padding: 1rem 0 1rem 1rem;
	margin-right: 1rem;
	border-left: var(--border-width) solid var(--gray-cool);
	border-bottom: var(--border-width) solid var(--gray-cool);
	border-radius: 0 0 0 var(--border-radius);
}

.resume__sub-item-content p:last-child {
	margin: 0;
}

.resume__list {
	display: grid;
	gap: 8px;
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}

.resume__list li {
	margin: 0;
	padding: 0;
}

.resume__hr {
	max-width: 240px;
	margin: 4rem auto;
	background: var(--red);
}

@media (min-width: 40em) {
	.resume__title-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		margin-bottom: 3rem;
	}

	.resume__title {
		margin: 0;
		text-align: left;
	}

	.resume__title::after {
		margin: 0.5rem 0 0 0;
	}
}

@media (min-width: 64em) {
	.resume__sub-items {
		gap: 3rem;
	}

	.resume__sub-items--bordered {
		gap: 1rem;
	}

	.resume__sub-item-content {
		margin-right: 0;
		padding: 1rem 0 2rem 2rem;
	}
}

/*==================================*/
/*=====----- HOMEPAGE BIO -----=====*/
/*==================================*/

.bio-home__content {
	position: relative;
}

.bio-home__img-cont {
	position: absolute;
	bottom: 2rem;
	right: 0;
	z-index: 1;
	width: calc(100% - 8rem);
	display: none;
	max-width: 1100px;
}

.bio-home .bio__img-cont {
	margin-bottom: -2rem;
}

.bio-home__img-cont::before {
	inset: -1rem 1rem 1rem -1rem;
}

.bio-home__img {
	position: relative;
	z-index: 1;
	width: 100%;
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
}

.bio-home__box {
	position: relative;
	z-index: 1;
	padding: calc(var(--large-border-width) + 4rem) 1rem 0;
	border-radius: var(--border-radius);
	border: var(--light-border);
	background: rgba(255, 255, 255, 0.05);
}

.bio-home__box::before {
	position: absolute;
	inset: calc(var(--border-width) * -1) calc(var(--border-width) * -1) auto
		calc(var(--border-width) * -1);
	display: block;
	height: var(--large-border-width);
	background: var(--accent-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	content: '';
	pointer-events: none;
}

.bio-home__title {
	color: var(--red);
}

.bio-home__button-cont {
	display: flex;
	justify-content: center;
	padding: 2rem 0 0;
	margin-bottom: -1rem;
}

/*----- media queries -----*/

@media (min-width: 64em) {
	.bio-home__content {
		padding-bottom: 4rem;
	}

	.bio-home .bio__img-cont {
		display: none;
	}

	.bio-home__box {
		z-index: 2;
		max-width: 560px;
		padding: calc(var(--large-border-width) + 2rem) 2rem 2rem;
		backdrop-filter: blur(60px);
	}

	.bio-home__title {
		text-align: left;
	}

	.bio-home__title::after {
		margin: 0.5rem 0 0;
	}

	.bio-home__img-cont {
		display: block;
	}

	.bio-home__button-cont {
		justify-content: flex-end;
		margin: 0;
	}
}

@media (min-width: 90em) {
	.bio-home__box {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
