:root {
	/* theme colors */
	--white-cool: #f2f3f4;
	--black-cool: #131516;
	--yellow: #f4ce56;
	--red: #ff5652;
	--violet: #e83477;

	/* borders */
	--border-width: 2px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.wrapper--content {
	max-width: 64ch;
}

.wrapper--section {
	max-width: 1200px;
}

.wrapper--wide {
	max-width: 1600px;
}

.flex-line {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.flex-line::before,
.flex-line::after {
	display: block;
	flex: 1 0 auto;
	height: var(--border-width);
	background: var(--white-cool);
	content: '';
}

.logo-icon {
}
