:root {
	--logo-width: 60px;
}

.header {
	position: fixed;
	inset: 0 0 auto 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	pointer-events: none;
}

.header :is(a, button, [onclick]) {
	pointer-events: all;
}

.header__logo-cont {
	display: block;
	flex-shrink: 0;
	background: none;
	text-decoration: none;
}

.header__logo {
	width: var(--logo-width);
}

@media (min-width: 40em) {
	:root {
		--logo-width: var(--nav-button-width);
	}
}

@media (min-width: 64em) {
	.header {
		padding: 1rem 2rem;
	}
}
