.hero {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hero__title {
}

.hero__title-text {
}

.hero__subtitle {
}

.hero__scroll {
}

.hero__scroll-icon {
}

.hero__scroll-track {
}

.hero__scroll-ball {
}
